@model CommonModel
@{
    ViewData["Title"] = "Tips";
}
<style>
</style>
<div class="row">
    <div class="col-sm-4 col-xl-4 stretch-card grid-margin"></div>
    <div class="col-sm-4 col-xl-4 stretch-card grid-margin">
        @using (Html.BeginForm("Index", "Tips", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(a => a.ServiceType)
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ขอเพลง • ทิป</h4>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-inverse-danger btn-fw" onclick="moneyClick(this,100,'danger','1')"> 100 </button>
                        <button type="button" class="btn btn-inverse-primary btn-fw" onclick="moneyClick(this,500,'primary','2')"> 500 </button>
                        <button type="button" class="btn btn-inverse-secondary btn-fw" onclick="moneyClick(this,1000,'secondary','3')"> 1000 </button>
                        <button type="button" class="btn btn-inverse-info btn-fw" onclick="moneyClick(this,5000,'info','4')"> 5000 </button>
                        @Html.HiddenFor(a => a.PriceType)
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">฿</span>
                            </div>
                            @Html.TextBoxFor(a => a.Price,new {@class = "form-control", Style="padding-bottom:5px"})
                        </div>
                    </div>
                    <div class="form-group template-demo d-flex justify-content-between flex-nowrap">
                        <button type="button" class="btn btn-rounded btn-icon">
                            <img class="img-fluid w-100" src="~/img/instagram.svg" alt="" onclick="socialClick(this,'Instagram')" />
                        </button>
                        <button type="button" class="btn btn-icon">
                            <img style="filter: grayscale(100%);" class="img-fluid w-100" src="~/img/facebook.svg" alt="" onclick="socialClick(this,'Facebook')" />
                        </button>
                        <button type="button" class="btn btn-icon">
                            <img style="filter: grayscale(100%);" class="img-fluid w-100" src="~/img/twitter.svg" alt="" onclick="socialClick(this,'Twitter')" />
                        </button>
                        <button type="button" class="btn btn-icon">
                            <img style="filter: grayscale(100%);" class="img-fluid w-100" src="~/img/tiktok.svg" alt="" onclick="socialClick(this,'Tiktok')" />
                        </button>
                        <button type="button" class="btn btn-icon">
                            <img style="filter: grayscale(100%);" class="img-fluid w-100" src="~/img/onlyfans.svg" alt="" onclick="socialClick(this,'Onlyfans')" />
                        </button>
                        @Html.HiddenFor(a => a.SocialType)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.SocialUsername,new {@class = "form-control", Style="padding-bottom:5px", placeholder="กรุณาใส่ชื่อไอจีของคุณ"})
                    </div>
                    <div class="form-group row  text-center">
                        <div class="col-sm-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.MessageType, "ส่งข้อความ", new { @class = "form-check-input"})ส่งข้อความ
                                    @* <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked />  *@
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.RadioButtonFor(model => model.MessageType, "ขอเพลง", new { @class = "form-check-input"})ขอเพลง
                                    @* <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2" />  *@
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(a => a.Message,new {@class = "form-control", Style="padding-bottom:5px", placeholder=""})
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-dark btn-lg btn-block"> ส่ง </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-4 col-xl-4 stretch-card grid-margin"></div>
</div>
<script>
    function socialClick(e, txt) {
        $(".img-fluid").css("filter", "grayscale(1)");
        $(e).css("filter", "");

        $("#warp").attr("placeholder", "กรุณาใส่ชื่อ " + txt + " ของคุณ");

        document.getElementById('SocialType').value = txt;

    }
    function moneyClick(e, m, st, pt) {

        document.getElementById('PriceType').value = pt;
        document.getElementById('Price').value = m;

        // $(e).removeClass("btn-inverse-" + st);
        // $(e).addClass("btn-" + st);

    }
</script>
